# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
myenv/
venv/
env/

# Local databases & secrets
db.sqlite3
.env

# Testing & Profiling
.pytest_cache/
.coverage

# IDEs and Editors
.vscode/
.idea/
